<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="min-h-screen  bg-zinc-800 ">
    <form action="/update/<%=user._id %> " method="post" class="w-full pt-10 px-7 ">
         <h1 class="text-3xl h-20 bg-zinc-600 px-10 py-5 text-white rounded-xl tracking-tighter">update user</h1>
         <input type="text" placeholder="name"  required value="<%=user.name %>"  name="name"   class="bg-zinc-500 rounded-md p-3 mt-2 text-white ">
         <input type="text" placeholder="image" required value="<%=user.image %>" name="image"   class="bg-zinc-500 rounded-md p-3 mt-2 text-white">
         <input type="email" placeholder="email id" required value="<%=user.email %>" name="email" class="bg-zinc-500 rounded-md p-3 mt-2 text-white">
         <button type="submit" class="bg-zinc-500 rounded-md p-2.5  text-white text-xl font-bold ">update</button>
    </form>
    <div class="text-xl text-blue-500 mt-6 mx-7 ">
        <a href="/read" >Read users</a>
        
    </div>
    </div>
</body>
</html>